<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a>
            </p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>欢迎使用 ASP.NET Web API!</h1>

            </hgroup>
            <p>程序启动时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</p>
            <p>
                使用 ASP.NET Web API 可以直接通过 HTTP 向
                Web 公开你的应用程序、数据和服务。
            </p>

        </div>
    </section>

</div>
